.fc-ba-green{
	background-color: rgb(113,211,152);
	border-color: rgb(113,211,152);
}
.fc-ba-red{
	background-color: rgb(246,132,132);
	border-color: rgb(246,132,132);
}
.fc-ba-orange{
	background-color: rgb(244,177,98);
	border-color: rgb(244,177,98);
}
.fc-ba-gray{
	background-color: rgb(121,133,155);
	border-color: rgb(121,133,155);	
}
.fc-ba-blue{
	background-color: rgb(151,211,197);
	border-color: rgb(151,211,197);	
}
.fc-ba-pink{
	background-color: rgb(247,141,184);
	border-color: rgb(247,141,184);	
}